.message-container {
  width: 100%;
  position: relative;
  margin: 5px 0;
  display: flex;
  flex-direction: column;

  &.container-incoming {
    align-items: flex-start;
    justify-content: space-between;
  }

  &.container-outgoing {
    align-items: flex-end;
  }

  .sender-username {
    font-size: 0.7rem;
  }

  .message {
    height: 35px;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 25px;
    font-size: 0.9rem;
    padding: 5px 10px;
    display: flex;
    align-items: center;

    &.incoming {
      background-color: lightgrey;
    }
    &.outgoing {
      background-color: royalblue;
      color: white;
    }
    &.translatedText {
      background-color: grey;
      color: white;
    }
  }
}
